CQRS-ES/CQRS.Core/bin/Debug/net6.0/CQRS.Core.dll
CQRS-ES/CQRS.Core/bin/Debug/net6.0/CQRS.Core.pdb
CQRS-ES/CQRS.Core/obj/Debug/net6.0/CQRS.Core.csproj.CoreCompileInputs.cache
CQRS-ES/CQRS.Core/obj/Debug/net6.0/CQRS.Core.dll
CQRS-ES/CQRS.Core/obj/Debug/net6.0/CQRS.Core.pdb
CQRS-ES/CQRS.Core/obj/CQRS.Core.csproj.nuget.g.props
SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net6.0/CQRS.Core.dll
SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net6.0/CQRS.Core.pdb
SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net6.0/Post.Cmd.Api.dll
SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net6.0/Post.Cmd.Api.pdb
SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net6.0/Post.Cmd.Domain.dll
SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net6.0/Post.Cmd.Domain.pdb
SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net6.0/Post.Cmd.Infrastructure.dll
SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net6.0/Post.Cmd.Infrastructure.pdb
SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net6.0/Post.Common.dll
SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net6.0/Post.Common.pdb
SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net6.0/ref/Post.Cmd.Api.dll
SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net6.0/refint/Post.Cmd.Api.dll
SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net6.0/Post.Cmd.Api.csproj.AssemblyReference.cache
SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net6.0/Post.Cmd.Api.csproj.CoreCompileInputs.cache
SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net6.0/Post.Cmd.Api.dll
SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net6.0/Post.Cmd.Api.pdb
SM-Post/Post.Cmd/Post.Cmd.Api/obj/Post.Cmd.Api.csproj.nuget.g.props
SM-Post/Post.Cmd/Post.Cmd.Api/obj/project.nuget.cache
SM-Post/Post.Cmd/Post.Cmd.Api/obj/staticwebassets.pack.sentinel
SM-Post/Post.Cmd/Post.Cmd.Domain/bin/Debug/net6.0/CQRS.Core.dll
SM-Post/Post.Cmd/Post.Cmd.Domain/bin/Debug/net6.0/CQRS.Core.pdb
SM-Post/Post.Cmd/Post.Cmd.Domain/bin/Debug/net6.0/Post.Cmd.Domain.dll
SM-Post/Post.Cmd/Post.Cmd.Domain/bin/Debug/net6.0/Post.Cmd.Domain.pdb
SM-Post/Post.Cmd/Post.Cmd.Domain/bin/Debug/net6.0/Post.Common.dll
SM-Post/Post.Cmd/Post.Cmd.Domain/bin/Debug/net6.0/Post.Common.pdb
SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net6.0/Post.Cmd.Domain.csproj.AssemblyReference.cache
SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net6.0/Post.Cmd.Domain.csproj.CoreCompileInputs.cache
SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net6.0/Post.Cmd.Domain.dll
SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net6.0/Post.Cmd.Domain.pdb
SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Post.Cmd.Domain.csproj.nuget.g.props
SM-Post/Post.Cmd/Post.Cmd.Domain/obj/project.nuget.cache
SM-Post/Post.Cmd/Post.Cmd.Infrastructure/bin/Debug/net6.0/CQRS.Core.dll
SM-Post/Post.Cmd/Post.Cmd.Infrastructure/bin/Debug/net6.0/CQRS.Core.pdb
SM-Post/Post.Cmd/Post.Cmd.Infrastructure/bin/Debug/net6.0/Post.Cmd.Domain.dll
SM-Post/Post.Cmd/Post.Cmd.Infrastructure/bin/Debug/net6.0/Post.Cmd.Domain.pdb
SM-Post/Post.Cmd/Post.Cmd.Infrastructure/bin/Debug/net6.0/Post.Cmd.Infrastructure.dll
SM-Post/Post.Cmd/Post.Cmd.Infrastructure/bin/Debug/net6.0/Post.Cmd.Infrastructure.pdb
SM-Post/Post.Cmd/Post.Cmd.Infrastructure/bin/Debug/net6.0/Post.Common.dll
SM-Post/Post.Cmd/Post.Cmd.Infrastructure/bin/Debug/net6.0/Post.Common.pdb
SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/Debug/net6.0/Post.Cmd.Infrastructure.csproj.AssemblyReference.cache
SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/Debug/net6.0/Post.Cmd.Infrastructure.csproj.CoreCompileInputs.cache
SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/Debug/net6.0/Post.Cmd.Infrastructure.dll
SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/Debug/net6.0/Post.Cmd.Infrastructure.pdb
SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/Post.Cmd.Infrastructure.csproj.nuget.g.props
SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/project.nuget.cache
SM-Post/Post.Common/bin/Debug/net6.0/CQRS.Core.dll
SM-Post/Post.Common/bin/Debug/net6.0/CQRS.Core.pdb
SM-Post/Post.Common/bin/Debug/net6.0/Post.Common.dll
SM-Post/Post.Common/bin/Debug/net6.0/Post.Common.pdb
SM-Post/Post.Common/obj/Debug/net6.0/Post.Common.csproj.AssemblyReference.cache
SM-Post/Post.Common/obj/Debug/net6.0/Post.Common.csproj.CoreCompileInputs.cache
SM-Post/Post.Common/obj/Debug/net6.0/Post.Common.dll
SM-Post/Post.Common/obj/Debug/net6.0/Post.Common.pdb
SM-Post/Post.Common/obj/Post.Common.csproj.nuget.g.props
SM-Post/Post.Common/obj/project.nuget.cache
SM-Post/Post.Query/Post.Query.Api/bin/Debug/net6.0/CQRS.Core.dll
SM-Post/Post.Query/Post.Query.Api/bin/Debug/net6.0/CQRS.Core.pdb
SM-Post/Post.Query/Post.Query.Api/bin/Debug/net6.0/Post.Common.dll
SM-Post/Post.Query/Post.Query.Api/bin/Debug/net6.0/Post.Common.pdb
SM-Post/Post.Query/Post.Query.Api/bin/Debug/net6.0/Post.Query.Api.dll
SM-Post/Post.Query/Post.Query.Api/bin/Debug/net6.0/Post.Query.Api.pdb
SM-Post/Post.Query/Post.Query.Api/bin/Debug/net6.0/Post.Query.Domain.dll
SM-Post/Post.Query/Post.Query.Api/bin/Debug/net6.0/Post.Query.Domain.pdb
SM-Post/Post.Query/Post.Query.Api/bin/Debug/net6.0/Post.Query.Infrastructure.dll
SM-Post/Post.Query/Post.Query.Api/bin/Debug/net6.0/Post.Query.Infrastructure.pdb
SM-Post/Post.Query/Post.Query.Api/obj/Debug/net6.0/apphost
SM-Post/Post.Query/Post.Query.Api/obj/Debug/net6.0/Post.Query.Api.csproj.AssemblyReference.cache
SM-Post/Post.Query/Post.Query.Api/obj/Debug/net6.0/Post.Query.Api.csproj.CoreCompileInputs.cache
SM-Post/Post.Query/Post.Query.Api/obj/Debug/net6.0/Post.Query.Api.dll
SM-Post/Post.Query/Post.Query.Api/obj/Debug/net6.0/Post.Query.Api.pdb
SM-Post/Post.Query/Post.Query.Api/obj/Post.Query.Api.csproj.nuget.g.props
SM-Post/Post.Query/Post.Query.Api/obj/project.nuget.cache
SM-Post/Post.Query/Post.Query.Api/obj/staticwebassets.pack.sentinel
SM-Post/Post.Query/Post.Query.Domain/bin/Debug/net6.0/CQRS.Core.dll
SM-Post/Post.Query/Post.Query.Domain/bin/Debug/net6.0/CQRS.Core.pdb
CQRS-ES/CQRS.Core/bin/Debug/net6.0/CQRS.Core.dll
CQRS-ES/CQRS.Core/bin/Debug/net6.0/CQRS.Core.pdb
CQRS-ES/CQRS.Core/bin/Debug/net6.0/CQRS.Core.dll
CQRS-ES/CQRS.Core/bin/Debug/net6.0/CQRS.Core.pdb
CQRS-ES/CQRS.Core/obj/Debug/net6.0/CQRS.Core.csproj.CoreCompileInputs.cache
CQRS-ES/CQRS.Core/obj/Debug/net6.0/CQRS.Core.dll
CQRS-ES/CQRS.Core/obj/Debug/net6.0/CQRS.Core.pdb
CQRS-ES/CQRS.Core/obj/CQRS.Core.csproj.nuget.g.props
CQRS-ES/CQRS.Core/obj/project.nuget.cache
SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net6.0/CQRS.Core.dll
SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net6.0/CQRS.Core.pdb
SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net6.0/Post.Cmd.Api.dll
SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net6.0/Post.Cmd.Api.pdb
SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net6.0/Post.Cmd.Domain.dll
SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net6.0/Post.Cmd.Domain.pdb
SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net6.0/Post.Cmd.Infrastructure.dll
SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net6.0/Post.Cmd.Infrastructure.pdb
SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net6.0/Post.Common.dll
SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net6.0/Post.Common.pdb
SM-Post/Post.Query/Post.Query.Domain/obj/Debug/net6.0/Post.Query.Domain.csproj.AssemblyReference.cache
SM-Post/Post.Query/Post.Query.Domain/obj/Debug/net6.0/Post.Query.Domain.csproj.CoreCompileInputs.cache
SM-Post/Post.Query/Post.Query.Domain/obj/Debug/net6.0/Post.Query.Domain.dll
SM-Post/Post.Query/Post.Query.Domain/obj/Debug/net6.0/Post.Query.Domain.pdb
SM-Post/Post.Query/Post.Query.Infrastructure/bin/Debug/net6.0/CQRS.Core.dll
SM-Post/Post.Query/Post.Query.Infrastructure/bin/Debug/net6.0/CQRS.Core.pdb
SM-Post/Post.Query/Post.Query.Infrastructure/bin/Debug/net6.0/Post.Common.dll
SM-Post/Post.Query/Post.Query.Infrastructure/bin/Debug/net6.0/Post.Common.pdb
SM-Post/Post.Query/Post.Query.Infrastructure/bin/Debug/net6.0/Post.Query.Domain.dll
SM-Post/Post.Query/Post.Query.Infrastructure/bin/Debug/net6.0/Post.Query.Domain.pdb
SM-Post/Post.Query/Post.Query.Infrastructure/bin/Debug/net6.0/Post.Query.Infrastructure.dll
SM-Post/Post.Query/Post.Query.Infrastructure/bin/Debug/net6.0/Post.Query.Infrastructure.pdb
SM-Post/Post.Query/Post.Query.Infrastructure/obj/Debug/net6.0/Post.Query.Infrastructure.csproj.AssemblyReference.cache
SM-Post/Post.Query/Post.Query.Infrastructure/obj/Debug/net6.0/Post.Query.Infrastructure.csproj.CoreCompileInputs.cache
SM-Post/Post.Query/Post.Query.Infrastructure/obj/Debug/net6.0/Post.Query.Infrastructure.dll
SM-Post/Post.Query/Post.Query.Infrastructure/obj/Debug/net6.0/Post.Query.Infrastructure.pdb
SM-Post/Post.Query/Post.Query.Infrastructure/obj/Post.Query.Infrastructure.csproj.nuget.g.props
SM-Post/Post.Query/Post.Query.Infrastructure/obj/project.nuget.cache
